.editor-property-resizer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    border-right: double 5px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        display: none;
    }
}

.editor-property {
    position: relative;

    > .properties {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;
        min-height: calc(100vh - 5em);

        .property {
            display: flex;
            flex-direction: column;
            gap: 0.1em;

            > .header {
                display: flex;

                gap: 0.5em;
                justify-content: space-between;
                align-items: center;

                &:has(button) {
                    margin-bottom: 0.25em;
                }

                button {
                    background-color: var(--color-button-transparent-background);
                    color: var(--color-text);
                    border: 0px;
                    border-radius: 0.5rem;
                    font-size: 1em;
                    padding: 0.15em;
                    cursor: pointer;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100%;

                    > .mdi {
                        transition: all 0.2s ease;
                    }

                    &:hover {
                        background-color: var(--color-button-transparent-background-hover);
                        //> .mdi {
                        //    filter: brightness(0.9);
                        //    transform: scale(1.2);
                        //}
                    }
                }
            }

            .label, label {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.75em;
                letter-spacing: -0.2px;
            }

            > .property-content {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                &--row {
                    flex-direction: row;
                    width: 100%;
                }

                > .property-data {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    flex-basis: 100%;

                    &--row {
                        flex-direction: row;
                        align-items: center;
                    }

                    &--wrap {
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    > input, > select, > textarea {
                        width: 100%;
                        border: 0px;
                        padding: 0.2em 0.5em;
                        background-color: var(--color-input-background);
                        border-radius: 0.4em;

                        box-shadow: var(--shadow-accent);

                        &[type="color"] {
                            padding: 0;
                            background-color: transparent;
                            cursor: pointer;

                            &::-webkit-color-swatch-wrapper {
                                padding: 0;
                            }

                            &::-webkit-color-swatch {
                                border: 0;
                            }
                        }
                    }

                    > select {
                        background-color: var(--color-select-wrapper-background);
                        box-shadow: var(--shadow-accent);
                    }

                    > textarea {
                        resize: vertical;
                        width: 100%;
                        height: 2em;
                        max-height: 10em;
                        min-height: 2em;
                    }

                    > input[type="checkbox"] {
                        display: none;
                    }

                    > label.checkbox-label {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        flex-shrink: 0;
                        flex-grow: 0;

                        width: 1.5rem;
                        height: 1.5rem;

                        cursor: pointer;
                        background-color: #fff;

                        border: var(--checkbox-border-width) solid var(--color-checkbox-border);
                        border-radius: 0.25rem;

                        transition: all 0.2s ease-in-out;

                        &::before {
                            content: '';

                            display: block;

                            width: 1rem;
                            height: 1rem;
                            border-radius: 0.25rem;

                            background-color: var(--color-checkbox-background-checked);

                            transform: scale(0);
                            opacity: 0;

                            transition: all 0.2s ease-in-out;
                        }
                    }

                    > input[type="checkbox"]:checked + label.checkbox-label {
                        &::before {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }

                    > button {
                        background-color: var(--color-button-primary-background);
                        color: var(--color-button-primary-foreground);
                        border: 0px;
                        border-radius: 0.5rem;
                        font-size: 1.08em;
                        padding: 0.25em;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        margin: 0 auto;

                        &:hover {
                            background-color: var(--color-button-primary-background-hover);
                        }
                    }
                }

                &--aggregator {
                    flex-direction: row;

                    .property {
                        flex-direction: row;
                        align-items: center;

                        gap: 0.3em;
                        width: 100%;
                    }

                }
            }

            > .interactivity-container {
                display: flex;
                flex-direction: column;
                border-radius: 0.5em;
                padding-bottom: 0.5em;

                gap: 0.5em;

                .actions {
                    background-color: var(--color-property-background);
                    box-shadow: inset var(--shadow-accent);
                    padding: 0.5em;
                    gap: 0.5em;
                    display: flex;
                    flex-direction: column;

                    > header {
                        display: flex;
                        padding: 0 0.5rem;

                        gap: 0.5em;
                        justify-content: space-between;
                        align-items: center;

                        > span {
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 0.75em;
                            letter-spacing: -0.2px;
                        }

                        .buttons {
                            display: flex;
                            gap: 0.5em;
                        }

                        button {
                            background-color: var(--color-button-transparent-background);
                            color: var(--color-text);
                            border: 0px;
                            border-radius: 0.5rem;
                            font-size: 1em;
                            padding: 0.15em;
                            cursor: pointer;
                            aspect-ratio: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            height: 100%;

                            > .mdi {
                                transition: all 0.2s ease;
                            }

                            &:hover {
                                background-color: var(--color-button-transparent-background-hover);
                                //> .mdi {
                                //    filter: brightness(0.9);
                                //    transform: scale(1.2);
                                //}
                            }
                        }
                    }

                    > .action {
                        box-shadow: inset var(--shadow-accent);
                        border-top: 1px solid var(--color-property-interactive-background);
                        border-bottom: 1px solid var(--color-property-interactive-background);
                        border-radius: calc(0.5 * var(--border-radius));
                        overflow: hidden;



                        > .footer {
                            display: flex;

                            padding: 0.25em 0.5em;
                            gap: 0.5em;
                            justify-content: end;
                            align-items: center;

                            button {
                                background-color: var(--color-button-transparent-background);
                                color: var(--color-text);
                                border: 0px;
                                font-size: 1em;
                                cursor: pointer;
                                aspect-ratio: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                padding: 0.2rem;
                                border-radius: 0.25rem;

                                > .mdi {
                                    transition: all 0.2s ease;
                                }

                                &:hover {
                                    background-color: var(--color-button-transparent-background-hover);

                                    > .mdi {
                                        //opacity: 0.8;
                                        //text-shadow: 0 0 0.1em #000;
                                    }
                                }

                                &.disabled {
                                    cursor: not-allowed;
                                    opacity: 0.5;

                                    &:hover {
                                        > .mdi {
                                            filter: initial;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .interactivity {
                    background-color: var(--color-property-background);
                    box-shadow: var(--shadow-accent);

                    display: flex;
                    flex-direction: column;
                    border-radius: 0.5em;

                    .field {
                        display: flex;
                        align-items: center;
                        padding: 0.5rem;
                        gap: 0.5rem;

                        > .label {
                            width: 30%;
                            flex-shrink: 0;
                            flex-grow: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        > .value {
                            width: 60%;
                            flex-shrink: 1;
                            flex-grow: 1;

                            align-items: center;

                            display: flex;
                            gap: 0.5rem;

                            > input, > select {
                                width: 100%;
                                border: 0px;
                                padding: 0.15rem 0.4rem;
                                border-radius: 0.5rem;

                                box-shadow: var(--shadow-accent);

                            }

                            > input[type="checkbox"] {
                                display: none;
                            }

                            label.checkbox-label {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                flex-shrink: 0;
                                flex-grow: 0;

                                width: 1.5rem;
                                height: 1.5rem;

                                cursor: pointer;
                                background-color: #fff;

                                border: var(--checkbox-border-width) solid var(--color-checkbox-border);
                                border-radius: 0.25rem;

                                transition: all 0.2s ease-in-out;

                                &::before {
                                    content: '';

                                    display: block;

                                    width: 1rem;
                                    height: 1rem;
                                    border-radius: 0.25rem;

                                    background-color: var(--color-checkbox-background-checked);

                                    transform: scale(0);
                                    opacity: 0;

                                    transition: all 0.2s ease-in-out;
                                }

                                &.checked {
                                    &::before {
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        &--sub {
                            background-color: var(--color-property-interactive-background);
                            padding: 0.25rem 0.5rem 0.25rem 0.75rem;

                            > .label {
                                padding-left: 0.05rem;
                                color: #1a1a1a;
                                width: calc(30% - 0.25rem);
                            }
                        }

                        //&.field ~ .field.field--sub {
                        //    box-shadow: inset 0 1em 0.5em 0.005em rgb(93 64 139 / 27%)
                        //}
                    }


                    div > .footer {
                        display: flex;

                        padding: 0.25em 0.5em;
                        gap: 0.5em;
                        justify-content: end;
                        align-items: center;

                        button {
                            background-color: var(--color-button-transparent-background);
                            color: var(--color-text);
                            border: 0px;
                            font-size: 1em;
                            cursor: pointer;
                            aspect-ratio: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            padding: 0.2rem;
                            border-radius: 0.25rem;

                            > .mdi {
                                transition: all 0.2s ease;
                            }

                            &:hover {
                                background-color: var(--color-button-transparent-background-hover);

                                > .mdi {
                                    //opacity: 0.8;
                                    //text-shadow: 0 0 0.1em #000;
                                }
                            }

                            &.disabled {
                                cursor: not-allowed;
                                opacity: 0.5;

                                &:hover {
                                    > .mdi {
                                        filter: initial;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.editor-property-hint {
    position: fixed;
    left: -50px;
    top: calc(50% - 75px);
    height: 150px;
    width: 40px;
    background-color: var(--color-background-accent);
    z-index: 1000;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    backdrop-filter: blur(18px);

    padding-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;

    transition: all 0.2s ease;

    .mdi::before {
        content: "\F0142";
        display: inline-block;
        font: normal normal normal 24px / 1 "Material Design Icons";
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
    }

    &--visible {
        left: -10px;

        &:hover {
            cursor: pointer;

            left: 0;
            padding-left: 0px;
        }

    }

    @media (min-width: 768px) {
        right: -50px;
        left: auto;
        padding-right: 10px;
        padding-left: 0;
        border-radius: var(--border-radius) 0 0 var(--border-radius);

        .mdi::before {
            content: "\F0141";
            display: inline-block;
            font: normal normal normal 24px / 1 "Material Design Icons";
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
        }

        &--visible {
            right: -10px;
            left: auto;

            &:hover {
                cursor: pointer;

                right: 0;
                left: auto;
                padding-right: 0px;
            }
        }
    }
}

.editor-blocks {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

.editor-slides {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .actions {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 1em;
        background-color: var(--color-background);

        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-shrink: 0;
    }


    .slides {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        padding: 1em;
        overflow-y: auto;
        flex-grow: 1;

        .slide {
            //padding: 0.25em;
            border-radius: var(--border-radius);
            cursor: pointer;
            background-color: var(--color-background-accent);
            color: var(--color-text);
            outline: 0px solid var(--color-primary);
            transition: outline-width 0.05s ease;
            box-shadow: var(--shadow-accent);

            width: 100%;

            &.slide--active {
                outline: 2px solid var(--color-primary);
            }

            > .image-container {
                width: 100%;
                //padding: 0.5em;
                overflow: hidden;
                border-radius: 0.5rem;

                aspect-ratio: 16/9;
                background-color: var(--color-slide-background);
                box-shadow: inset var(--shadow-primary);

                display: flex;
                justify-content: center;
                align-content: center;

                .image {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    //object-fit: cover;
                    aspect-ratio: 16/9;

                    &:not([src]) {
                        //opacity: 0;
                    }
                }
            }

            > .slide-meta {
                color: var(--color-text);
                font-size: 0.75rem;
                padding: 0.5em 1em;

                display: flex;
                justify-content: space-between;
                align-items: center;

                > .actions {
                    display: flex;
                    gap: 0.25rem;

                    > .mdi, > .dialog-activator {
                        cursor: pointer;
                        background: var(--color-button-transparent-background);
                        padding: 0.2rem;
                        border-radius: 0.25rem;

                        &:hover {
                            background: var(--color-button-transparent-background-hover);
                        }

                        &.disabled {
                            cursor: not-allowed;
                            background: var(--color-button-neutral-background-disabled);

                            &:hover {
                                background: var(--color-button-neutral-background-disabled);
                            }

                            position: relative;

                            &:after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: var(--color-button-neutral-background-disabled);
                                opacity: 0.5;
                                border-radius: 0.25rem;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.editor-media {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .dialog-activator {
        width: 100%;
    }

    > .actions {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 1em;
        background-color: var(--color-background);

        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-shrink: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        max-height: 100%;
        overflow-y: auto;
        user-select: none;
        padding: 1em;

        > .media {
            border-radius: var(--border-radius);
            box-shadow: var(--shadow-accent);
            width: 100%;
            height: 130px;
            background-color: var(--color-background-accent);
            overflow: hidden;

            display: flex;
            justify-content: center;

            position: relative;

            img {
                width: 100%;
                height: 130px;
                object-fit: contain;
                font-size: 0;
                pointer-events: none;
                user-focus: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;

                &[src=""] {
                    opacity: 0;
                }
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                box-shadow: inset var(--shadow-accent);
                opacity: 0;
                border-radius: var(--border-radius);
                transition: all 0.2s ease;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.editor-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .actions {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 1em;
        background-color: var(--color-background);

        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-shrink: 0;
    }

    > .content {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        max-height: 100%;
        overflow-y: auto;
        user-select: none;
    }

    .choices {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        padding: 1em;

        > .choice {
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100px;
            background-color: var(--color-background-accent);

            cursor: pointer;

            transition: all 0.2s ease;

            position: relative;

            color: white;
            font-size: 2em;
            text-transform: uppercase;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: inset var(--shadow-accent);
                opacity: 0.2;
                transition: all 0.2s ease;
                border-radius: var(--border-radius);
            }

            &:hover {
                background-color: var(--color-background-accent-hover);

                &:after {
                    opacity: 1;
                }
            }

            &.gifs {
                background-image: url("https://media.tenor.com/zlKoX5HPPu8AAAAC/cat-annoyed.gif");
            }

            &.images {
                background-image: url("https://images.pexels.com/photos/31071006/pexels-photo-31071006.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280");
            }
        }
    }
}

.editor-navigation-plugins {
    display: flex;
    flex-direction: column;
    //flex-grow: 1;
    gap: 0.5em;
    padding: 0.75em 0.5em;
    background-color: var(--color-navigation-plugin-background);
    box-shadow: inset var(--shadow-accent);
    margin: 0.5em 0;
    overflow-y: auto;
    max-height: 40vh;
    //
    //button.button {
    //    background-color: var(--color-navigation-plugin-button-background);
    //    color: var(--color-navigation-plugin-button-foreground);
    //}

    &::-webkit-scrollbar {
        width: 0.25em;
    }
}

.editor-plugin-manage-dialog {
    > .tabs {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: var(--color-background-accent);
        backdrop-filter: blur(18px);
        border-radius: var(--border-radius);
        z-index: 1;
        padding: 0.25em 0;
    }

    .disabled-title {
        font-size: 1.2rem;
        margin-top: 1em;
        margin-bottom: 0.25em;
    }

    .disabled-description {
        font-size: 0.9rem;
        color: var(--color-text-subtle);
        margin-bottom: 1em;
    }

    .version {
        width: 100%;
        text-align: right;
        font-size: 0.8rem;
        color: var(--color-text-subtle);
        margin-top: 0.25em;
        margin-bottom: 0;
    }

    .plugin {
        .meta {
            display: flex;
            flex-direction: column;

            .author {
                font-size: 0.8rem;
                color: var(--color-text-subtle);
            }
        }

        .warning-container {
            display: flex;
            justify-content: start;
            align-items: center;

            flex-grow: 1;

            .warning {
                background-color: var(--color-primary);
                border-radius: 50%;
                width: 2em;
                height: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
        }

        &.disabled {
            background-color: var(--color-navigation-plugin-manage-plugin-disabled-background);
        }
    }
}

.editor-plugin-browse-dialog {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 0.5em;
        margin-bottom: 0;
        padding-bottom: 0;

        div {
            flex-grow: 0;
            width: 40%;

            &:nth-child(1) {
                width: 60%;
            }
        }
    }


    .browse {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        flex-wrap: wrap;
        gap: 1em;
        padding: 0.5em;
        justify-content: space-between;
    }

    .no-results {
        text-align: center;
        padding: 1em;
        color: var(--color-text-subtle);
    }
}


.cursor-visual {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    z-index: 3000;
    pointer-events: none;
    user-select: none;
    touch-action: none;

    &--active {
        display: block;
    }
}
