.editor-property {
    > .properties {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;

        .property {
            display: flex;
            flex-direction: column;
            gap: 0.1em;

            > .header {
                display: flex;

                gap: 0.5em;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: transparent;
                    color: var(--color-text);
                    border: 0px;
                    border-radius: 0.5rem;
                    font-size: 1em;
                    padding: 0.15em;
                    cursor: pointer;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100%;

                    > .mdi {
                        transition: all 0.2s ease;
                    }

                    &:hover {
                        > .mdi {
                            filter: brightness(0.9);
                            transform: scale(1.2);
                        }
                    }
                }
            }

            .label, label {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.75em;
                letter-spacing: -0.2px;
            }

            > .property-content {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                &--row {
                    flex-direction: row;
                }

                > .property-data {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    flex-basis: 100%;

                    &--row {
                        flex-direction: row;
                        align-items: center;
                    }
                    &--wrap {
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    > input, > select {
                        width: 100%;
                        border: 0px;
                        padding: 0.2em 0.5em;

                        &[type="color"] {
                            padding: 0;
                            background-color: transparent;
                            cursor: pointer;

                            &::-webkit-color-swatch-wrapper {
                                padding: 0;
                            }

                            &::-webkit-color-swatch {
                                border: 0;
                            }
                        }
                    }
                    > button {
                        background-color: var(--color-primary);
                        color: var(--color-text);
                        border: 0px;
                        border-radius: 0.5rem;
                        font-size: 1.08em;
                        padding: 0.25em;
                        cursor: pointer;
                        transition: all 0.2s ease;

                        &:hover {
                            background-color: var(--color-primary-dark);
                        }
                    }
                }

                &--aggregator {
                    flex-direction: row;

                    .property {
                        flex-direction: row;
                        align-items: center;

                        gap: 0.3em;
                    }

                }
            }

            > .interactivity-container {
                display: flex;
                flex-direction: column;

                gap: 0.5em;

                > .interactivity {
                    background-color: #e0e0e0;
                    //padding: 0.3em;

                    display: flex;
                    flex-direction: column;

                    > .field {
                        display: flex;
                        align-items: center;
                        padding: 0.25em 0.3em;

                        > .label {
                            width: 40%;
                            flex-shrink: 0;
                            flex-grow: 0;
                        }
                        > .value {
                            width: 60%;
                            flex-shrink: 1;
                            flex-grow: 1;

                            display: flex;
                            gap: 0.5em;

                            > input, > select {
                                width: 100%;
                                border: 0px;
                                padding: 0.2em 0.5em;

                            }

                            > input[type="checkbox"] {
                                display: none;
                            }

                            label.checkbox-label {
                                display: block;
                                width: 1.5em;
                                height: 1.5em;
                                border: 2px solid #000;
                                border-radius: 0.25em;
                                cursor: pointer;
                                background-color: #fff;

                                &.checked {
                                    background-color: var(--color-primary)
                                }
                            }
                        }

                        &--sub {
                            background-color: #bebebe;
                            padding: 0.25em 0.5em;

                            > .label {
                                padding-left: 0.05em;
                                color: #1a1a1a;
                            }
                        }
                    }


                    > .footer {
                        display: flex;

                        padding: 0.25em 0.5em;
                        gap: 0.5em;
                        justify-content: end;
                        align-items: center;

                        button {
                            background-color: transparent;
                            color: var(--color-text);
                            border: 0px;
                            border-radius: 0.5rem;
                            font-size: 1em;
                            padding: 0.15em;
                            cursor: pointer;
                            aspect-ratio: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            height: 100%;

                            > .mdi {
                                transition: all 0.2s ease;
                            }

                            &:hover {
                                > .mdi {
                                    filter: brightness(0.9);
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cursor-visual {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #6c29ff;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    z-index: 3000;
    pointer-events: none;
    user-select: none;
    touch-action: none;

    &--active {
        display: block;
    }
}

.editor-blocks {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;

    button {
        width: 100%;

        font-weight: bold;
        text-transform: uppercase;
        font-size: 2em;

        background-color: var(--color-primary);
        border-radius: 0.5rem;
        color: var(--color-text);
        border: 0px;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }
}

.editor-slides {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .actions {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0.5rem;
        border-bottom: var(--nagivation-border-width) solid var(--color-navigation-border);
        background-color: var(--color-background);

        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-shrink: 0;
    }


    .slides {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        padding: 0.5rem;
        overflow-y: auto;
        flex-grow: 1;

        .slide {
            padding: 0.25em;
            border-radius: 0.5rem;
            cursor: pointer;
            background-color: var(--color-background-accent);
            color: var(--color-text);

            width: 100%;

            &.slide--active {
                outline: 2px solid var(--color-primary);
            }

            > .image-container {
                width: 100%;
                height: 100%;
                padding: 0.5em;

                aspect-ratio: 16/9;
                background-color: var(--color-slide-background);
                box-shadow: inset var(--shadow-accent);

                display: flex;
                justify-content: center;
                align-content: center;

                .image {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    aspect-ratio: 16/9;

                    &:not([src]) {
                        //opacity: 0;
                    }
                }
            }

            > .slide-meta {
                color: var(--color-text);
                font-size: 0.75rem;
                padding: 0.25rem 0.25rem 0;

                display: flex;
                justify-content: space-between;
                align-items: center;

                > .actions {
                    display: flex;
                    gap: 0.25rem;

                    .mdi, .dialog-activator {
                        cursor: pointer;
                        background: var(--color-background-accent);
                        padding: 0.1rem;
                        border-radius: 0.25rem;

                        &:hover {
                            background: var(--color-background);
                        }

                        &.disabled {
                            cursor: not-allowed;
                            background: var(--color-background-accent);

                            &:hover {
                                background: var(--color-background-accent);
                            }

                            position: relative;
                            &:after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: var(--color-background-accent);
                                opacity: 0.5;
                                border-radius: 0.25rem;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}