body, body.theme--light {
    --color-primary: #b5e048;
    --color-primary-light: #bad3a3;
    --color-primary-dark: #7c9a14;
    --color-background: #f7f8fa;
    --color-background-accent: #fff;
    --color-help: #c7c7c7;

    // SCROLLBAR
    --color-scrollbar-background: rgba(117, 111, 111, 0.07);
    --color-scrollbar-thumb: #96939b;

    // SHADOWS
    --shadow-primary: 0 0 0.5em rgba(87, 87, 87, 0.2);
    --shadow-accent: 0 0 0.5em 0.005em rgba(0, 0, 0, 0.2);

    // TEXT FORMATTING
    --color-link: #485d0e;
    --color-link-hover: var(--color-primary-dark);
    --color-link-underline: var(--color-primary-light);

    --color-text: #000;
    --color-text-subtle: #80807f;
    --color-text-primary: var(--color-primary);



    // BUTTONS
    --color-button-primary-background: var(--color-primary);
    --color-button-primary-background-hover: var(--color-primary-dark);
    --color-button-primary-background-active: var(--color-primary-light);
    --color-button-primary-background-disabled: #2d4222;
    --color-button-primary-foreground: #000;
    --color-button-neutral-background: #ccc;
    --color-button-neutral-background-hover: #b3b3b3;
    --color-button-neutral-background-active: #999999;
    --color-button-neutral-background-disabled: #8a8a8a;
    --color-button-neutral-foreground: #000;
    --color-button-disabled-background: #00000055;

    // CARDS
    --color-card-background: #fff;
    --color-card-special-card-text: #fff;
    --color-card-special-background: #e8d1bd;
    --color-card-special-text: #a9a9a9;

    // DIALOG
    --color-dialog-background: rgba(0, 0, 0, 0.25);

    // DEBUG
    --color-debug-background: #f7f8fa;
    --color-debug-text: #000;
}
