body, body.theme--light {
    --color-primary: #b5e048;
    --color-primary-light: #bad3a3;
    --color-primary-dark: #7c9a14;
    --color-background: #f7f8fa;
    --color-background-accent: #fff;
    --color-help: #c7c7c7;

    // SCROLLBAR
    --color-scrollbar-background: rgba(117, 111, 111, 0.07);
    --color-scrollbar-thumb: #96939b;

    // SHADOWS
    --shadow-primary: 0 0 0.5em rgba(87, 87, 87, 0.2);
    --shadow-accent: 0 0 0.5em 0.005em rgba(0, 0, 0, 0.2);

    // TEXT FORMATTING
    --color-link: #485d0e;
    --color-link-hover: var(--color-primary-dark);
    --color-link-underline: var(--color-primary-light);

    --color-text: #000;
    --color-text-subtle: #80807f;
    --color-text-primary: var(--color-primary);



    // BUTTONS
    --color-button-primary-background: var(--color-primary);
    --color-button-primary-background-hover: var(--color-primary-dark);
    --color-button-primary-background-active: var(--color-primary-light);
    --color-button-primary-background-disabled: #2d4222;
    --color-button-primary-foreground: #000;
    --color-button-neutral-background: #ccc;
    --color-button-neutral-background-hover: #b3b3b3;
    --color-button-neutral-background-active: #999999;
    --color-button-neutral-background-disabled: #8a8a8a;
    --color-button-neutral-foreground: #000;
    --color-button-disabled-background: #00000055;

    // CARDS
    --color-card-background: #fff;
    --color-card-special-card-text: #fff;
    --color-card-special-background: #e8d1bd;
    --color-card-special-text: #a9a9a9;

    // DIALOG
    --color-dialog-background: rgba(0, 0, 0, 0.25);

    // DEBUG
    --color-debug-background: #f7f8fa;
    --color-debug-text: #000;

    //INPUT
    --color-input-required-mark: #e048a3;
    --color-input-invalid-border: #e048a3;
    --color-input-invalid-background: #fffafc;
    --color-input-label: #323331;
    --color-input-background: #f3f5f0;
    --color-input-background-accent: #F0F2F5;
    --color-input-text: #646872;
    --color-input-placeholder: #abafa9;
    --color-input-error-text: #e048a3;
    --input-invalid-border-width: 2px;

    // NAVIGATION
    --color-navigation-background: var(--color-background);
    --color-navigation-background-accent: var(--color-background-accent);
    --color-navigation-border: #eef0f3;
    --color-navigation-button-background: #FFFFFF;
    --color-navigation-button-background-hover: #F7F8FA;
    --color-navigation-button-foreground: #646872;
    --color-navigation-button-foreground-active: #8dad38;
    --color-header-background: var(--color-background-accent);
    --nagivation-border-width: 4px;

    // TABS
    --color-tab-background: transparent;
    --color-tab-background-active: var(--color-background);
    --color-tab-background-hover: #dfe0e1;
    //--color-tab-border: #eef0f3;
    --color-tab-border-active: var(--color-primary);
    --color-tab-text: var(--color-text);
    --tab-border-width: 4px;

    // ALERTS
    --color-alert-info-background: #e8f0fe;
    --color-alert-info-foreground: #1e3a8a;
    --color-alert-success-background: #ddf3dc;
    --color-alert-success-foreground: #047857;
    --color-alert-warning-background: #f3eee2;
    --color-alert-warning-foreground: #453411;
    --color-alert-error-background: #f5eeee;
    --color-alert-error-foreground: #742a2a;

    // DIVIDER
    --color-divider: #E0E0E0;
    --divider-width: 2px;
    
    // LISTS
    --color-list-background: var(--color-background-accent);
    --color-list-background-hover: #e8e9eb;
    --color-list-background-active: #e0a6481e;
    --color-list-background-disabled: #f5f5f5;
    --color-list-border: #ced3da;
    --color-list-text: #000;
    --color-list-mark: var(--color-primary);
    --list-border-width: 1px;
    --list-mark-width: 4px;

    // TOOLTIP
    --color-tooltip-background: var(--color-primary);
    --color-tooltip-text: #181818;

    // CHECKBOX
    --color-checkbox-background: #fff;
    --color-checkbox-background-checked: var(--color-primary);
    --color-checkbox-border: #e7e4e4;
    --checkbox-border-width: 1px;


    // SELECT
    --color-select-wrapper-background: #f6f6f6;
    --color-select-text: #646872;
    --color-select-dropdown-background: #F7F8FA;
    --color-select-dropdown-background-hover: #ffffff;
    --color-select-dropdown-background-active: rgb(238, 233, 224);
    --color-select-dropdown-border: #eef0f3;
    --color-select-background-disabled: #F7F8FA;
    --select-dropdown-border-width: 2px;

    // EDITOR UI
    --color-slide-background: #f3f3f3;
}
