<mjml>
    <mj-body>
        <mj-section background-color="#f0f0f0">
            <mj-column>
                <mj-image src="{{FRONTEND_DOMAIN}}logo.png" height="64px" width="192px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text font-size="25px" font-weight="900" font-family="monospace" color="#7b57c4">{{code}}</mj-text>
                <mj-text>
                    Hi {{name}},
                </mj-text>
                <mj-text>
                    you have requested to log in to your account with this email in Materalist. To log in, enter the above code in the box on the login form.
                </mj-text>
                <mj-button background-color="#7b57c4" font-weight="800" font-size="18px" href="{{link}}">
                    Log in
                </mj-button>
            </mj-column>
        </mj-section>
        <mj-section background-color="white">
            <mj-column width="400px">
                <mj-text>
                    The above code is valid for <b>20 minutes</b> after requesting it in the app.
                </mj-text>
                <mj-text>
                    If you did not request to log in, please ignore this email and delete it.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fbfbfb">
            <mj-column>
                <mj-text>
                    If you have any problems, you can contact us at <a href="mailto:support@materalist.com">support@materalist.com</a>.
                </mj-text>
                <mj-text>
                    This email was generated automatically, please do not reply to it. You cannot unsubscribe from this email.
                </mj-text>
                <mj-text>
                    Materalist &copy; 2025, All rights reserved.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>