<mjml>
    <mj-body>
        <mj-section background-color="#f0f0f0">
            <mj-column>
                <mj-image src="{{FRONTEND_DOMAIN}}logo.png" height="192px" width="192px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text>
                    Hi {{name}},
                </mj-text>
                <mj-text>
                    on {{date}} you requested to export personal data from the Materalist. We have
                    processed the data and after logging into the system it is ready on the settings page.
                </mj-text>
                <mj-button background-color="#7b57c4" font-weight="800" font-size="18px" href="{{link}}">
                    Link
                </mj-button>
            </mj-column>
        </mj-section>
        <mj-section background-color="white">
            <mj-column width="400px">
                <mj-text>
                    The archive is in ZIP format and contains files in JSON format (and files uploaded by you).
                    It is possible that it does not contain all the information - some information would risk security of
                    your account. For example, the password is not included in the export.
                </mj-text>
                <mj-text>
                    The exported data is valid for seven days after sending this email.
                    After this time, they will be removed from our system.
                </mj-text>
                <mj-text>
                    After expiration, you can request a new export of your data.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fbfbfb">
            <mj-column>
                <mj-text>
                    If you have any problems, you can contact us at <a href="mailto:support@materalist.com">support@materalist.com</a>.
                </mj-text>
                <mj-text>
                    This email was generated automatically, please do not reply to it. You cannot unsubscribe from this email.
                </mj-text>
                <mj-text>
                    Materalist &copy; 2025, All rights reserved.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>