<mjml>
    <mj-body>
        <mj-section background-color="#f0f0f0">
            <mj-column>
                <mj-image src="{{FRONTEND_DOMAIN}}logo.png" height="192px" width="192px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text>
                    Hi {{name}},
                </mj-text>
                <mj-text>
                    password to your Materalist account has been changed successfully. 
                    If you did not make this change, please contact us immediately and secure your account.
                    Remember, you can always log in to your account using your email with verication code.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fbfbfb">
            <mj-column>
                <mj-text>
                    If you have any problems, you can contact us at <a href="mailto:support@materalist.com">support@materalist.com</a>.
                </mj-text>
                <mj-text>
                    This email was generated automatically, please do not reply to it. You cannot unsubscribe from this email.
                </mj-text>
                <mj-text>
                    Materalist &copy; 2025, All rights reserved.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>