<mjml>
    <mj-body>
        <mj-section background-color="#f0f0f0">
            <mj-column>
                <!--                <mj-image src="" height="64px" width="192px"></mj-image>-->
            </mj-column>
        </mj-section>
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text>
                    Hi {{name}},
                </mj-text>
                <mj-text>
                    zhe account associated with this email has just had its password changed on the TODO web portal.
                </mj-text>
                <mj-text>
                    If you have not changed your password, please contact us to change your password. You can log in to your account using the <q>E-mail Login</q> option on the login page
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fbfbfb">
            <mj-column>
                <mj-text>
                    If you have any problems, you can contact us at <a href="mailto:masterthesis@cajthaml.eu">masterthesis@cajthaml.eu</a>.
                </mj-text>
                <mj-text>
                    This email was generated automatically, please do not reply to it. You cannot unsubscribe from this
                    email.
                </mj-text>
                <mj-text>
                    Cajthaml &copy; 2025, All rights reserved.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>