<mjml>
    <mj-body>
        <mj-section background-color="#f0f0f0">
            <mj-column>
                <mj-image src="{{FRONTEND_DOMAIN}}logo.png" height="64px" width="192px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text>
                    Hi {{name}},
                </mj-text>
                <mj-text>
                    before completing the registration on the Materalist, it is necessary to verify the e-mail
                    address. To verify, click on the following link:
                </mj-text>
                <mj-button background-color="#7b57c4" font-weight="800" font-size="18px" href="{{link}}">
                    Confirm e-mail
                </mj-button>
            </mj-column>
        </mj-section>
        <mj-section background-color="#fbfbfb">
            <mj-column>
                <mj-text>
                    If you have any problems, you can contact us at <a href="mailto:support@materalist.com">support@materalist.com</a>.
                </mj-text>
                <mj-text>
                    This email was generated automatically, please do not reply to it. You cannot unsubscribe from this email.
                </mj-text>
                <mj-text>
                    Materalist &copy; 2025, All rights reserved.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>